<div class="flex items-center justify-between mb-2">
    <h1 class="pl-2 pt-6 pb-4 text-2xl font-semibold">Minhas Empresas</h1>
    <%= link_to "Cadastrar Empresa",  new_company_path, class: "btn btn-primary"  %>
</div>

<% if @companies and @companies.length > 0 %>
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                </tr>
            </thead>
            <tbody>
                <% @companies.each do |company|%>
                    <tr>
                    <th><%= company.name %></th>
                    <th><%= company.document %></th>
                    </tr>
                <%end %>
            </tbody>
        </table>
    </div>
<% end %>
